.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  
}

.nav-wrapper > div {
  font-size: 0.8em;
  margin-right: 20px;
}

.nav-link-wrapper {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-wrapper a:hover {
  color: black;
}
