body {
  margin: 50px;  
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),(rgba(4,9,30,0.7),url();
  background-position: center;
  background-size: cover;
  position: relative;
}
    
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  /*padding: 38px;*/
  
}

.nav-wrapper > div {
  font-size: 0.8em;
  
}

.nav-link-wrapper {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}
