* {
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: SeaShell;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),(rgba(4,9,30,0.7),url(../images/florian-olivo-JNz9bQD3Oio-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
   
nav {
  display: flex;
  padding 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  position: fixed;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  /*position: fixed;*/
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  
  font-size: 35px;
}

.nav-links ul li::after {
  content: '';
  width: 0px;
  height: 2px;
  background: #f44336;
  display: block;
  margin:auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 100%
  border-bottom: 1px solid black;
}

/*.nav-links a:hover {
  color: black;
}*/

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 34px;
  color: #fff;
}
  
nav .fa {
  display: none;
}
  
@media(max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}
  
.about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
p {
  color: Black;
  font-size: 24px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}  
  
.about-col {
  flex-basis: 21%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 0px 0px;
  box-sizing: border-box;
  transition: 0.5s;
}  

.about-col img {
  max-width: 50%;
  height: auto;
}  
  
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}  

.about-col:hover {
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}  

@media(max-width: 700px) {
  .row{
    flex-direction: column;
  }
}

.resume {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.btn {
  background-color: Coral;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: OrangeRed;
}

.resume-row {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.resume-row div h1 {
  font-size: 50px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
  flex-direction: column;
}

.links {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.links-list {
  flex-basis: 48px;
  margin-bottom: 30px;
  text-align: center;
}
   
.contact {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.contact-col {
  flex-basis: 48px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}




